@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><i>How much wood would a woodchuck chuck if a woodchuck could chuck wood?</i></p>
</div>
